AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=ABCDEFGHIJKLMNOPQ
AWS_SECRET_ACCESS_KEY=someawssecretaccesskey
SQS_ENDPOINT=http://localhost:4576/queue/test-search-queue
SQS_PAYLOAD_BUCKET=test-bucket
ES_INDEX=test-search-index
ES_SITE=test-site
USE_LOCALSTACK=true
ASSET_QUERY_DELAY=0
ASSET_LIST_URLS=["http://localhost:2929/assets.csv","http://some-other.site/another-list.csv"]