AWS_REGION=eu-west-1
AWS_ACCESSKEY=ABCDEFGHIJKLMNOPQ
AWS_SECRETACCESSKEY=someawssecretaccesskey
SQS_ENDPOINT=http://localhost:4576/queue/test-search-queue
SQS_PAYLOAD_BUCKET=test-bucket
ES_INDEX=test-search-index
ES_SITE=test-site
USE_LOCALSTACK=true
ASSET_QUERY_DELAY=0