AWS_DEFAULT_REGION=eu-west-1
AWS_ACCESS_KEY_ID=ABCDEFGHIJKLMNOPQ
AWS_SECRET_ACCESS_KEY=someawssecretaccesskey
SQS_ENDPOINT=sqs_endpoint
SQS_PAYLOAD_BUCKET=payload_bucket
ES_INDEX=test
ES_SITE=datahub
DYNAMODB_TABLE=test-table
LAMBDA_FUNCTION=test-function
LARGE_MESSAGE_BUCKET=large-message-bucket
DATAHUB_ASSETS_URL=https://jncc.gov.uk/resources/
USE_LOCALSTACK=true
ASSET_QUERY_DELAY=0