arrow==0.15.8
attrs==19.3.0
aws-lambda-builders==1.0.0
aws-sam-cli==1.0.0
aws-sam-translator==1.25.0
binaryornot==0.4.4
boto3==1.13.26
botocore==1.16.26
certifi==2022.12.7
chardet==3.0.4
chevron==0.13.1
click==7.1.2
cookiecutter==2.1.1
dateparser==0.7.6
docker==4.2.2
docutils==0.15.2
Flask==1.0.4
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.9.5
jsonschema==3.2.0
MarkupSafe==1.1.1
poyo==0.5.0
pyrsistent==0.16.0
python-dateutil==2.8.0
pytz==2020.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.23.0
s3transfer==0.3.3
serverlessrepo==0.1.9
six==1.15.0
tomlkit==0.5.8
tzlocal==2.1
urllib3==1.25.10
websocket-client==0.57.0
Werkzeug==1.0.1
whichcraft==0.6.1
